

{% extends "base_template.html" %}

{% block title %}Listado de usuarios de la emrpesa{% endblock %}

{% block content2 %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
<link rel="stylesheet" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">


        <div class="col py-3">

            <h2>Panel de Administracion</h2>
            <h2>Listado de empresas</h2>
            <p class="lead">

                <div class="table-responsive">
                        <table class="table table-striped table-sm" id="tablaEmpresas" aria-describedby="tablaAdminEmpresas"
                        data-togle="table"
                        data-search="true"
                        data-filter-control="true"
                        data-show-export="true"
                        data-click-to-select="true"
                        data-toolbar="#toolbar">
                      <thead>
                        <tr>
                            <th data-field="id" data-filter-control="input" data-sortable="true">Id</th>
                            <th data-field="nombre" data-filter-control="input" data-sortable="true">Nombre</th>
                            <th data-field="cif" data-filter-control="input" data-sortable="true">Cif</th>
                            <th data-field="plancontratado" data-filter-control="input" data-sortable="true">Plan contratado</th>
                            <th data-field="administrar" data-sortable="true">Administrar</th>
                        </tr>
                       </thead>  
                    </table>

                </div>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                
                <!--<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js"
                    integrity="sha512-GsFQLFpndObn08d92Q2GP3RTcc2TbYoWIKscSiEXP/zP0yfkNTld9mWHeeqHuq07X/hL8ZURDHvDGHES7oIJFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
                
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
                integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-rowgroup/1.2.0/dataTables.rowGroup.min.js" 
                integrity="sha512-jbepm9zLdn/4fJRCLn5o4iCXoBJnYn+PKlg01eGbOZCjcS/6pvxCIYEc59E4N/crHV66UOLdOS7VNLKDGYSrfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js" 
        integrity="sha512-8uxY/YCNhC7O+ZXitcFjbt1FFC4g7LCGE6uCSxR5MYl2TA9qUKdNUUMoINpBb7O0/Bc8590O8n9zktib1fMiHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js" 
        integrity="sha512-C+KmsrRC+2kdMDNrGBUob8pww5ST/n3Q2blYYLWGFkRYMFedeB89Z3KIIO1/8/iw+yWd9UH4U2YSwXsTJMYgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.min.js" 
                    integrity="sha512-chMvxSQlIXdPJmRkaZT2TYKJbQZ3lkFiBzGAVjewT7LZB9nZ0kd2yt01NNZF9kyqydkUUEpAKoPATChOTDhX4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                



                <script type="text/javascript" nonce="2726c7f26c">
                    
                    var parametros = new window.URLSearchParams(window.location.search);    
                    var idUsuario = parametros.get('idUsuario');
                    console.log('idUsuario cargado: ',idUsuario);
                    var fecha_actual = new Date();
                    var strFecha_actual = fecha_actual.getFullYear() + "/" + (fecha_actual.getMonth()+1) + "/" + fecha_actual.getDate();
                    
                    url_empresas = "{{ url_for('usuarios_blueprint.empresas_ajax') }}";
                    console.log('url carga:', url_empresas);
                    //Generamos el token csrf
                    var csrftoken = $('meta[name=csrf-token]').attr('content')
                    console.log('token:', csrftoken)

                    var table = $('#tablaEmpresas').DataTable
                    ({
                        language: {
                            "decimal": "",
                            "emptyTable": "No hay información",
                            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Mostrar _MENU_ Entradas",
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "search": "Buscar:",
                            "zeroRecords": "Sin resultados encontrados",
                            "paginate": {
                                "first": "Primero",
                                "last": "Ultimo",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            }
                        },

                        "ajax": {
                            "method": "POST",
                            "url": url_empresas,
                            "headers": {
                                "X-CSRFToken": csrftoken
                            },
                            "data": null
                           
                        },
                        "columns": [
                            {"data":"id"},
                            {"data":"nombre"},
                            {"data":"cif"},
                            {"data":"plancontratado"},
                            {"data": "administrar",
                             "render": function(data, type, row) {
                                return "<button type='button' class='btn btn-primary' id='botonAdmin' data-id="+row['id']+" >Administrar</button>"
                                }
                            }
                        ]
                    });

                    $('#tablaEmpresas tbody').on('click', '#botonAdmin', function () {
                        
                        console.log("id de la empresa: ", this.dataset.id);
                        var id = this.dataset.id;

                        window.location.href = "{{ url_for('home') }}" + "?idEmpresa=" + id;
                    });

                </script>
                

            </p>
        </div>

    </div>

{% endblock %}

