{% extends "base_template.html" %}

{% block title %}PAgina inicio empleado{% endblock %}


{% block content2 %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
<link rel="stylesheet" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">

<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css'/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js"></script>

    
    <h2></h2>
    <p class="lead">
        <h3 class="display-3">Datos peronales</h2>
        <p></p>
        <p>{{ usuario.nombre }} {{ usuario.apellidos }}</p>
        <p>NIF: {{ usuario.nif }}</p>
        <p>Tlf.: {{ usuario.tlf }}
        <p>IMEI registrado: {{usuario.imei}}</p>
        <p>Correo recuperacion: {{usuario.emailRecuperacion}}
    </p>
    </div>

    </div>
    
    <script type="text/javascript">
        
        console.log('idUsuario cargado en empleado.html: ', {{ idUsuario }});
    </script>
    
{% endblock %}

