
{% extends "base_template_sincal.html" %}

{% block title %}Listado de gastos{% endblock %}

{% block content2 %}

<!-- <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" /> -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
<link rel="stylesheet" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">

        <div class="col py-3">


            <h2>Listado de gastos</h2>
            <p class="lead">

        <!--<form name="formulario" id="form-prueba" method="POST" action=""> -->
            <!--
            {%if (current_user.is_admin() == True) or (current_user.is_gestor() == True) %}       
                <input type="button" value="Aprobar gastos" id="aprobar"/>
            {% endif%}
            -->
                <table id="table" 
                data-sortable="true"
                data-toggle="table"
                data-filter-control="true" 
                data-show-export="true"
                data-click-to-select="false"
                class="table-responsive hover" aria-describedby="tablaGastos">   
                      <thead>
                        <tr>
                            <th data-field="id" >id</th>
                            <th data-field="idUsuario" >idUsuario</th>
                            <th data-field="tipo"  data-sortable="true">Tipo</th>
                            <th data-field="fecha" ddata-sortable="true">Fecha</th>
                            <th data-field="razon" data-sortable="true">Razon social</th>
                            <th data-field="importe" data-sortable="true">Importe</th>
                            <th data-field="iva" data-sortable="true">IVA</th>
                            <th data-field="cif" data-sortable="true">Cif</th>
                            <th data-field="numeroticket" data-sortable="true">numeroTicket</th>
                            <th data-field="foto">Foto</th>
                            <th data-field="validado" data-sortable="true">Aprobado</th>
                        </tr>
                       </thead>  

                    </table>
            <!--</form>-->
            </div>                

                    <div id="myModal" class="modal fade" role="dialog" >
                        <div class="modal-dialog" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="mi-modal-body" >
                                    <img class="mi-img img-responsive" alt="" src="" id="showing"/>
                                </div>
                                <div class="modal-footer">        
                                    {%if (current_user.is_admin() == True) or (current_user.is_gestor() == True) %}      
                                        <button type="button" class="btn btn-secondary" id="botonValida" data-gasto=''>
                                            Aprobar
                                        </button>
                                    {% endif %}
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
             </p>
        </div>
    </div>

{% endblock %}

{% block scripts %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js" 
integrity="sha512-GsFQLFpndObn08d92Q2GP3RTcc2TbYoWIKscSiEXP/zP0yfkNTld9mWHeeqHuq07X/hL8ZURDHvDGHES7oIJFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script src="{{ url_for('static', filename='libs/popper.js') }}"></script>


<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->


<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js" 
integrity="sha512-8uxY/YCNhC7O+ZXitcFjbt1FFC4g7LCGE6uCSxR5MYl2TA9qUKdNUUMoINpBb7O0/Bc8590O8n9zktib1fMiHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js" 
integrity="sha512-C+KmsrRC+2kdMDNrGBUob8pww5ST/n3Q2blYYLWGFkRYMFedeB89Z3KIIO1/8/iw+yWd9UH4U2YSwXsTJMYgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.0/extensions/export/bootstrap-table-export.min.js" 
    integrity="sha512-tpNXR6peBB3JocCaeOs3vlLYMIkdcolWoM4pWhjLJnF+RlRj8ato/oM5j5K3w/Ff/yUbSLhQjcbonayCpMmJVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.js" 
    integrity="sha512-Azqvrwc2opXWFeMnE5xq69qhUAw77VH57FtkbHIf01BzI+C1loZ7YlXzDnMbnvXO7lkv7QuZq0aDZA03h7WO0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.min.js" 
    integrity="sha512-chMvxSQlIXdPJmRkaZT2TYKJbQZ3lkFiBzGAVjewT7LZB9nZ0kd2yt01NNZF9kyqydkUUEpAKoPATChOTDhX4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons/2.2.3/js/dataTables.buttons.min.js" 
    integrity="sha512-QT3oEXamRhx0x+SRDcgisygyWze0UicgNLFM9Dj5QfJuu2TVyw7xRQfmB0g7Z5/TgCdYKNW15QumLBGWoPefYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons/2.2.3/js/buttons.html5.min.js" 
        integrity="sha512-BdN+kHA7QfWIcQE3WMwSj5QAvVUrSGxJLv7/yuEEypMOZBSJ1VKGr9BSpOew+6va9yfGUACw/8Yt7LKNn3RKRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons/2.2.3/js/buttons.print.min.js" 
        integrity="sha512-UthH9WkvNUixebk8yKEFm3Sy+Rm8GbuvxiIMCDs9Cepl+YxhY+LUijPFZshcW7+PHa/HcSFLfSX3fGq1AcglWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><!--Añade print-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" 
    integrity="sha512-oaT4uVdyleJGVHZqklOx2Bb8WhOTBW3iCXRtgk3+YutYmFx0jSs97UR3/+r1vh1Isyb3GOGjFonLbS6LFiiEVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!--Añade Excel-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" 
    integrity="sha512-guWTt6syHB4T9gdPdw8W1iQUGqqricRt5VRjnjgMPpOhUhwOsxmXpk2SImqfcPgsiroK00z/loICebflVeJvqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" 
    integrity="sha512-vv3EN6dNaQeEWDcxrKPFYSFba/kgm//IUnvLPMPadaUf5+ylZyx4cKxuc4HdBf0PPAlM7560DV63ZcolRJFPqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript" nonce="2726c7f26c">

    $(function () {

        var idUsuario = "{{ idUsuario }}";
        console.log('idUsuario cargado: ',idUsuario);
        url_home = "{{ url_for('usuarios_blueprint.ajax_carga_tickets') }}";
        console.log('url carga:', url_home);
        
        //Funcion Ajax para renderizar el checkbox en funcion del valor del dato almacenado en la BBDD    
        var checkValidado = function( data, type, row, meta ) {
            var is_checked = data == true ? "checked" : "";
            return '<input type="checkbox" onclick="javascript: return false;" id="checkgasto" class="checkbox" ' + is_checked + ' data-gasto=' + row[0] + '/>';
        }

        //Funcion Ajax para renderizar el boton para mostrar el ticket en funcion del valor del dato almacenado en la BBDD    
        var foto = function( data, type, row, meta ) {
            
            return "<button type='button' class='btn btn-primary' data-toggle='modal' data-target= '#myModal' data-gasto=" + row['ID'] + "><i class='bi bi-image'></i></button>";
        }

        //Generamos el token csrf
        var csrftoken = $('meta[name=csrf-token]').attr('content')
        var table = $('#table').DataTable
        ({
            dom: 'l<"row"B>frtip',
            buttons: ['csv', 'excel', 'print'],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "responsive": true,
            "sPaginationType": "full_numbers",
            "order": [[3, 'desc']],
            "columnDefs": [{ 
                "targets": [9], 
                "data": null,
                "defaultContent": 
                    "<button type='button' class='btn btn-primary' data-toggle='modal' data-target= '#myModal'><i class='bi bi-image'></i></button>"
            },{
                "targets": [10], 
                "data": null,
                "defaultContent": 
                    "<input type='checkbox' checked />"
            }
            ],
            "ajax": {
                "method": "POST",
                "headers": {
                    "X-CSRFToken": csrftoken
                },
                "url": url_home,
                "data": {'idUsuario':idUsuario},
            },
            "columns": [
               
                {"data":"ID"},
                {"data":"idUsuario"},
                {"data":"tipo"},
                {"data":"fecha"},
                {"data":"razonsocial"},
                {"data":"importe"},
                {"data":"iva"},
                {"data":"cif"},
                {"data":"numeroticket"},
                {"data":"foto", "render":foto},
                {"data":"validado", "render":checkValidado}],
        });

            $('#checkgasto').on ('click', function(){
                console.log('check cambio');
                return false;        
            });


        //Controlamos el evento 'click' del boton de Aprobacion de gasto dentro de la ventana modal
        $('#botonValida').on('click', function(e) {
            console.log('estoy en valida boton');
            //extraemos el idGasto del atributo data-gasto del boton
            var idGastoParametro = jQuery('#botonValida').attr('data-gasto');
            console.log('Y el id es: ', idGastoParametro);
                $.ajax({
                    type:"POST",
                    data: { idGasto: idGastoParametro},
                    url:url_valida,
                    success: function(resultado) {
                        console.log('resultado:',resultado);
                        table.ajax.reload(false);  
                    }
                });
                console.log('VALIDADO');
                //cerramos la modal cuando hemos apribado el gasto
                //El hide no funciona en esta version de bootstrap
                //jQuery('#myModal').modal('hide');
                //Para cerrar la modal hacemos una llamada al boton close de la modal por medio de su clase '.close'
                jQuery('.close').click();
        });

        //Controlamos el evento de apertura de la ventana modal
        //Y cargamos en ella la imagen del ticket desde la BBDD
        $('#myModal').on('show.bs.modal', function(e) {

            //Esta parte detecta correctamente el boton que dispara el evento
            var triggerButton = $(e.relatedTarget);
            //sacamos el idGasto del boton pulsado, esta guardado en el atributo data-gasto
            //Para acceder a los datos data- se accede solo por lo que esta despues del -
            datosBoton = triggerButton.data('gasto');
            console.log('disparador:', datosBoton);
            let idGastoParametro = datosBoton; //guardamos el id del Gasto
            console.log("id:", idGastoParametro);

            var img = $('#showing').attr('src');     
            //Guardamos en data-gasto el idGasto para que podamos usarlo luego en el controlador 'click' del botonValida
            jQuery('#botonValida').attr('data-gasto', idGastoParametro);
            //Generamos la url para llamar al metodo de validacion del ticket
            url_valida = '{{ url_for('usuarios_blueprint.valida_ticket') }}';
            url_valida = url_valida + "?idGasto="+idGastoParametro;
            console.log('url_valida:',url_valida);
                
            img = "{{ url_for('usuarios_blueprint.carga_ticket', idGasto=id) }}";
                
            console.log('modal mostrada....');
                //No coge el idGastoTabla y se lo tengo que añadir aqui.
            jQuery('#showing').attr('src', img+idGastoParametro);
           
            });
    });
</script>

{% endblock %}







