{% extends "base_template.html" %}

{% block title %}PAgina inicio logueado{% endblock %}

{% block content %}


{% if current_user.is_authenticated %}
<nav class="navbar bg-light"
<div class="container-fluid">
    <a class="navbar-brand " href="/logout"> {{ session["username"]}} (Salir)</a>
</div>
</nav>

    {% for usuario in usuarios %}
        <p> {{usuario.nombre}} {{usuario.apellidos}} {{usuario.login}} {{usuario.nif}} {{usuario.estado}} </p>
    {% endfor %}
 


{% else %}
    <a class="navbar-brand " href="/login">Login</a>
    <a class="navbar-brand " href="/registro">Registro</a>
{% endif %} 

{% endblock %}