

{% extends "base_template.html" %}

{% block title %}Listado de usuarios de la emrpesa{% endblock %}

{% block content2 %}


        <div class="col py-3">
            <h2>Listado de usuarios</h2>
            <p class="lead">

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Email</th>
                            <th scope="col">NIF</th>
                            <th scope="col">Estado</th>
                        </tr>
                       </thead>  
                       <tbody>
                        {% for usuario in usuarios %}
                           <tr>
                               <td>{{usuario.nombre}}</td>
                               <td>{{usuario.apellidos}}</td>
                               <td>{{usuario.login}}</td>
                               <td>{{usuario.nif}}</td>
                               <td>{{usuario.estado}}</td>
                               <script>
                                    date = new Date();
                                    year = date.getFullYear();
                                    month = date.getMonth() + 1;
                                    day = date.getDate();
                                    fecha_actual = month + "/" + day + "/" + year;
                                    console.log('fecha: ', fecha_actual);
                                </script>
                               <!-- {% set fecha_pasada = fecha_actual() %} -->
                               <td><a href="{{ url_for("usuarios_blueprint.usuarioGastos", idUsuario=usuario.idUsuario) }}"
                                class="btn btn-success">Gastos</a>
                               <td><a href="{{ url_for("usuarios_blueprint.usuarioFichajes", idUsuario=usuario.idUsuario, fecha=fecha_pasada) }}"
                                            class="btn btn-success">Fichajes</a>
                                <td><a href="{{ url_for("usuarios_blueprint.modifica_usuario", idUsuario=usuario.idUsuario) }}"
                                            class="btn btn-sucess">Modificar</a>
                           </tr>
                        {% endfor %}   
                        </tbody>
                    </ttable>
                </div>

            </p>
        </div>

    </div>

{% endblock %}


<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(document).on("click", "tr[data-href]", function() {
            window.location.href = jQuery(this).attr('data-href');
        });
    });
</script>
