{% extends "base_template.html" %}

{% block title %}Modificacion usuarios empresa{% endblock %}


{% block content2 %}


<script type="text/javascript" nonce="2726c7f26c">
    $(document).ready( function() {
    $("button[name=BorrarOK]").click( function(e) {
        $('#idAccion').val('Borrado');
        $('form').submit();
    
    })

    $("button[name=cancelar]").click( function() {
        $('#mimodal').modal("hide");
    });
}); 


</script>

<body class="m-0 vh-100 row justify-content-center align-items-center ">
    <div class="col-auto p-5 text-center">

        {% if error %}
        <p style="color: red;"><strong>Error:</strong> {{ error }}
        {% endif %}

        <form action="" method="post" novalidate id="form">
            {{ form.hidden_tag() }}
            <input type="hidden" name="accion" value="Modificar" id="idAccion" />
            <p>
                {{ form.nombre.label }}<br>
                {{ form.nombre }}<br>
                {% for error in form.nombre.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.apellidos.label }}<br>
                {{ form.apellidos }}<br>
                {% for error in form.apellidos.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.nif.label }}<br>
                {{ form.nif }}<br>
                {% for error in form.nif.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.tlf.label }}<br>
                {{ form.tlf }}<br>
                {% for error in form.tlf.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.emailRecuperacion.label }}<br>
                {{ form.emailRecuperacion }}<br>
                {% for error in form.emailRecuperacion.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.imei.label }}<br>
                {{ form.imei }}<br>
                {% for error in form.imei.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.rol.label }}<br>
                {{ form.rol }}<br>
                {% for error in form.rol.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.estado.label }}<br>
                {{ form.estado }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                <input type="submit" class="btn btn-primary btn-xs" value="Modificar" name="modif">
         
                <button type="button" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#mimodal">
                    Borrado
                  </button>
                </p>
        </form>
    </div>

    <div id="mimodal" class="modal" id="exampleModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div id="contenido" class="modal-content" >
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">¿Esta seguro de borrar el usuario?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        !Atencion si elimina el usuario perderá el historico de fichajes!. 
                        Se recomienda hacer una exportacion antes.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger btnCrear" name="BorrarOK" >Borrar Usuario</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancelar">Cancelar</button>
                    </div>
                  </div>              
            </div>
        <div>
    </div>
   
</body>
{% endblock %}







