{% extends "base.html" %}
{% block contenido %}
  <h1>Registro</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
      {{ form.nombre.label }}<br>
      {{ form.nombre(size=60) }}<br>
      {% for error in form.nombre.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>
      {{ form.apellidos.label }}<br>
      {{ form.apellidos(size=60) }}<br>
      {% for error in form.apellidos.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>
      {{ form.email.label }}<br>
      {{ form.email(size=60) }}<br>
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=30) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}